.center {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.box {
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.title {
  font-size: 5rem;
  color: #fff;
  font-weight: 700;
}

.aboutBtn {
  width: fit-content;
  background-color: #ffffff25;
  padding: 0.75rem 1.5rem;
  color: #fff;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
}

.secondSection {
  height: 100%;
}

.photoRow {
  padding: 10rem;
  display: grid;
  grid-template-columns: 1fr 0.15fr 1fr;
  gap: 0.5fr;
}

.photoFrame {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  flex: 1;
  border-radius: 12px 12px 0 0;
}

.photoFrame img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.photoFrame::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#11182700, #11182780, #111827);
}

.columnPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.photoTitle {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
}

.photoDesc {
  color: #b3b3b3;
  font-size: 1.1rem;
  line-height: 1.5;
}

.learnMore {
  color: #4ade80;
}
