.container {
  width: 100%;
  height: 75px;
  display: flex;
  top: 0;
  left: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
}

.nav {
  width: min(1920px, 100% - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  width: 200px;
}

.row {
  font-size: 0.8rem;
  display: flex;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  color: #b4b4b4;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.12s ease-in-out;
}

.btn:hover {
  color: #fafafa;
  background-color: #ffffff15;
  backdrop-filter: blur(10px);
}

.hamburguer {
  display: none;
}

.iconHamburguer {
  color: #fff;
}

.iconClose {
  color: #000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modalNav {
  display: flex;
  align-items: center;
  height: 75px;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.listModal {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--modal-font-size);
}

@media only screen and (max-width: 700px) {
  .row {
    display: none;
  }
  .hamburguer {
    display: block;
  }
}
