@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  font-family: "Geist", sans-serif;
}

body {
  background-color: #050505;
}

* {
  margin: 0;
  box-sizing: border-box;
}

section {
  margin: auto;
  max-width: 1920px;
  position: relative;
  min-height: 100vh;
}
