@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  font-family: "Geist", sans-serif;
  --font-size: 1.25rem;
  --font-size-btn: 1.1rem;
  --padding-btn: 0.75rem 1.5rem;
  --main-title: 4rem;
  --sub-title: 2.5rem;
  --footer-size: 1rem;
  --modal-font-size: 1.5rem;
}

@media only screen and (max-width: 750px) {
  :root {
    --font-size: 1rem;
    --font-size-btn: 0.75rem;
    --padding-btn: 0.5rem 1rem;
    --main-title: 2rem;
    --sub-title: 1.5rem;
    --footer-size: 0.75rem;
    --modal-font-size: 2rem;
  }
}

body {
  background-color: #050505;
}

* {
  margin: 0;
  box-sizing: border-box;
}

section {
  margin: auto;
  max-width: 1920px;
  position: relative;
  min-height: 100vh;
}
